[submodule "exercises/learning-lm-rs"]
	path = exercises/learning-lm-rs
	url = https://github.com/wawahejun/learning-lm-rs
[submodule "exercises/rustlings"]
	path = exercises/rustlings
	url = https://github.com/whx57/Rustlings.git
[submodule "exercises/learning-cxx"]
	path = exercises/learning-cxx
	url = https://github.com/InfiniTensor/learning-cxx
[submodule "exercises/learning-cuda"]
	path = exercises/learning-cuda
	url = https://ghfast.top/https://github.com/whx57/Learning-CUDA.git
